@import "_setting.scss";
@import "_common.scss";
@import "_shop.scss";
@import "_single_product.scss";
@import "_cart.scss";
@import "_login.scss";
@import "_register.scss";
@import "_account.scss";
@import "_checkout.scss";

.navbar {
  background: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  font-size: 16px;
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  top: 0;
  left: 0;
  .navLogo {
    width: 150px;
    @include mq(l) {
      width: 130px;
  }
    @include mq(m) {
      // font-size: to-vw(13,375);
    }
    @include mq(s) {
    }
  }
  .nav-buttons {
    margin-left: 60%;
    @include mq(s) {
      margin-left: 10px;
    }
    @include mq(m) {
      margin-left: 10px;
    }
    &__ul {
      @include mq(s) {
        margin: 18px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }
      @include mq(m) {
        margin: 18px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }

      .nav__itemLink {
        padding: 0 20px !important;
        color: rgb(53, 53, 53) !important;
        transition: 0.4s ease;
        &:hover {
          color: coral!important;
        }
      }
    }

 

    .nav__itemIcon {
      //navbar i
      transition: 0.4s ease;
      font-size: 22px;
      padding: 0 0.7px;
      font-weight: 800;
      cursor: pointer;
      margin-left: 5px !important;
      &:hover {
        color: coral !important;
      }
      @include mq(s) {
        margin: 20px 5px 10px 20px;
      }
      @include mq(m) {
        margin: 20px 5px 10px 20px;
      }
    }
  }
}

// Home section -----------------------------------
.homeSection {
  margin-top: 80px;
  background-image: url("../images/top.jpg");
  width: 100%;
  height: 95vh;
  background-size: cover;
  // background-position:0px 50px ;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    color: white;
  }
  &__text {
    color: white;
  }

  &--color {
    // color: coral;
    color: white;
  }
}

// Brand Section------------------
.brandContainer {
  &__row {
    text-align: center;
    display: block;
  }

  img {
    width: 250px;
  }
}

// New section--------------
.newSection {
  &__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__block {
    position: relative;
    &:nth-child(1) .newSection__details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
    }
    &:nth-child(2) .newSection__details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &:nth-child(3) .newSection__details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
    }
  }
  &__details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.14s ease;
    opacity: 0.7;
    background-color: rgb(88, 88, 88);
    width: 100%;
    height: 100%;
    &:hover {
      background-color: cornsilk;
    }
  }
}

// Featured section----------------------------
.featuredSection {
  &:hover .buy-btn {
    transform: translateY(0px) !important;
    opacity: 1;
  }
  cursor: pointer;
  margin-bottom: 32px;
  &__img {
    transition: 0.3s all;
    width: 400px;
    height: 400px;
    &:hover {
      opacity: 0.7;
    }
  }
  &__star {
    padding: 10px 0;
    i {
      color: goldenrod;
    }
  }
}

.buy-btn {
  background-color: orange;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all;
}

hr {
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  background-color: orange;
  margin: auto;
}

// Banner section -----------------
.banner {
  margin-top: 80px;
  background-image: url("../images/banner_lady.png");
  width: 100%;
  height: 60vh;
  background-size: cover;
  // background-position-y:200px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  // To make teh img unscrollable
  background-attachment: fixed;
  &__title--big {
    color: white;
  }
  button{
    background-color: orange;
&:hover {
  background-color: rgb(66, 66, 66);
}
  }
}

// footer Section---------------------------------
footer {
  background-color: rgb(151, 150, 150);
  .footer__img {
    width:100px;
  }
  h5 {
    color: white;
    font-weight: 700;
    font-size: 18px;
  }
  li {
    padding-bottom:  4px;
  }
  a {
    font-size: 14px;
    color: #999;
    &:hover {
      color: #D8D8D8;
    }
  }
  p {
    color: white;
  }
  .paymentImg {
    width:160px;
    transform: translateX(-20%);
  }
  .socialIcons a {
    color: black;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color:  white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
    &:hover {
      color: white;
      background-color: orange;
    }
  }
}

