@charset "UTF-8";
/* Val---------------------------------------------- */
/*カラーテーマ-------------------------------------------*/
/* Mixin---------------------------------------------- */
/* Common---------------------------------------------- */
body {
  font-family: "YakuHanJPs", "Lato", "Custom Yu Gothic", "游ゴシック", "Yu Gothic", YuGothic, Hiragino Sans, "Meiryo", Hiragino Kaku Gothic ProN, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

@media screen and (max-width: 1280px) and (min-width: 1080px) {
  body {
    color: #000;
  }
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  body {
    color: #000;
  }
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  body {
    font-size: to-vw(13, 375);
  }
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: .8;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

input[type="submit"],
input[type="button"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

input[type="text"], input[type="email"], select, textarea {
  padding: .25em .5em;
  font-size: 15px;
  width: 100%;
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  input[type="text"], input[type="email"], select, textarea {
    font-size: 16px;
  }
}

select {
  font-family: system-ui;
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  textarea {
    min-height: 30vw;
    width: 100%;
  }
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  .is-sp {
    display: block;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner, .inner-wide, .inner-narrow {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  .inner, .inner-wide, .inner-narrow {
    width: 98%;
  }
}

.inner {
  max-width: 1000px;
}

.inner-wide {
  max-width: 1150px;
}

.inner-narrow {
  max-width: 820px;
}

button {
  background: #1d1d1d;
  color: aliceblue;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

button:hover {
  background-color: coral;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

.shopFeatured {
  margin-top: 200px !important;
}

.shop__hr {
  margin: 10px 0;
}

.shopContainer img {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopPagination a {
  color: coral;
}

.shopPagination a:hover {
  color: white;
  background-color: coral;
}

.small-img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-img-col {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  cursor: pointer;
}

.singleInput {
  width: 50px;
  height: 40x;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.singleInput:focus {
  outline: none;
}

.singleButton {
  background-color: #fb774b;
  opacity: 1;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.singleButton:hover {
  background-color: #222222;
}

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart th {
  text-align: left;
  padding: 5px 10px;
  color: white;
  background-color: #fb774b;
}

.cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #fb774b;
}

.cart .remove-btn {
  color: #fb774b;
  text-decoration: none;
  font-size: 15px;
  background-color: white;
  border: none;
  width: 15%;
}

.cart .edit-btn {
  color: #fb774b;
  text-decoration: none;
  font-size: 14px;
  background-color: white;
}

.cart .productInfo p {
  margin: 3px;
}

.cartTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cartTotal table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid orange;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkoutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.checkout-btn {
  background-color: #fb774b;
  color: white;
}

.checkout-btn:hover {
  color: white;
}

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid orange;
}

#login-form input {
  width: 50%;
  margin: 5px auto;
}

#login-form #login-btn {
  background-color: #fb774b;
  color: white;
}

#login-form #register-url {
  color: #fb774b;
}

#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid orange;
}

#register-form input {
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn {
  background-color: #fb774b;
  color: white;
}

#register-fomr #login-url {
  color: #fb774b;
}

#account-form {
  width: 50%;
  margin: 8% auto;
  text-align: center;
  padding: 20px;
}

#account-form input {
  margin: 5px auto;
}

#account-form #change-pass-btn {
  color: white;
  background-color: #fb774b;
}

.account-info #orders-btn, #logout-btn {
  color: #fb774b;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders .productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orders th {
  padding: 5px 10px;
  color: white;
  background-color: #fb774b;
}

.order th:nth-child(2) {
  text-align: right;
}

.orders td {
  padding: 10px 20px;
}

.orders td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

#checkout-form .checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 20px auto;
}

#checkout-form .checkout-large-element {
  width: 96.5%;
}

#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout-btn {
  color: white;
  background-color: #fb774b;
}

.navbar {
  background: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  top: 0;
  left: 0;
}

.navbar .navLogo {
  width: 150px;
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  .navbar .navLogo {
    width: 130px;
  }
}

.navbar .nav-buttons {
  margin-left: 60%;
}

@media screen and (max-width: 480px) {
  .navbar .nav-buttons {
    margin-left: 10px;
  }
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  .navbar .nav-buttons {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar .nav-buttons__ul {
    margin: 18px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  .navbar .nav-buttons__ul {
    margin: 18px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.navbar .nav-buttons__ul .nav__itemLink {
  padding: 0 20px !important;
  color: #353535 !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.navbar .nav-buttons__ul .nav__itemLink:hover {
  color: coral !important;
}

.navbar .nav-buttons .nav__itemIcon {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 22px;
  padding: 0 0.7px;
  font-weight: 800;
  cursor: pointer;
  margin-left: 5px !important;
}

.navbar .nav-buttons .nav__itemIcon:hover {
  color: coral !important;
}

@media screen and (max-width: 480px) {
  .navbar .nav-buttons .nav__itemIcon {
    margin: 20px 5px 10px 20px;
  }
}

@media screen and (max-width: 990px) and (min-width: 480px) {
  .navbar .nav-buttons .nav__itemIcon {
    margin: 20px 5px 10px 20px;
  }
}

.homeSection {
  margin-top: 80px;
  background-image: url("../images/top.jpg");
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeSection__title {
  color: white;
}

.homeSection__text {
  color: white;
}

.homeSection--color {
  color: white;
}

.brandContainer__row {
  text-align: center;
  display: block;
}

.brandContainer img {
  width: 250px;
}

.newSection__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newSection__block {
  position: relative;
}

.newSection__block:nth-child(1) .newSection__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.newSection__block:nth-child(2) .newSection__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.newSection__block:nth-child(3) .newSection__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.newSection__details {
  position: absolute;
  top: 0;
  left: 0;
  color: burlywood;
  font-weight: bold;
  -webkit-transition: 0.14s ease;
  transition: 0.14s ease;
  opacity: 0.7;
  background-color: #585858;
  width: 100%;
  height: 100%;
}

.newSection__details:hover {
  background-color: cornsilk;
}

.featuredSection {
  cursor: pointer;
  margin-bottom: 32px;
}

.featuredSection:hover .buy-btn {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

.featuredSection__img {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 400px;
  height: 400px;
}

.featuredSection__img:hover {
  opacity: 0.7;
}

.featuredSection__star {
  padding: 10px 0;
}

.featuredSection__star i {
  color: goldenrod;
}

.buy-btn {
  background-color: orange;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

hr {
  width: 30px;
  height: 3px !important;
  opacity: 1 !important;
  background-color: orange;
  margin: auto;
}

.banner {
  margin-top: 80px;
  background-image: url("../images/banner_lady.png");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-attachment: fixed;
}

.banner__title--big {
  color: white;
}

.banner button {
  background-color: orange;
}

.banner button:hover {
  background-color: #424242;
}

footer {
  background-color: #979696;
}

footer .footer__img {
  width: 100px;
}

footer h5 {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

footer li {
  padding-bottom: 4px;
}

footer a {
  font-size: 14px;
  color: #999;
}

footer a:hover {
  color: #D8D8D8;
}

footer p {
  color: white;
}

footer .paymentImg {
  width: 160px;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

footer .socialIcons a {
  color: black;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .socialIcons a:hover {
  color: white;
  background-color: orange;
}
/*# sourceMappingURL=main.css.map */